<div class="list-group">
  <a routerLink="home" class="list-group-item list-group-item-action active">
    Home
  </a>
  <a routerLink="register" class="list-group-item list-group-item-action">Register</a>
  <a routerLink="login" class="list-group-item list-group-item-action">Login</a>
  <a routerLink="createproduct" class="list-group-item list-group-item-action">Create Product</a>
  <a routerLink="productdetail" class="list-group-item list-group-item-action">Product Details</a>
</div>
<div id="render_space">
<router-outlet></router-outlet>
</div>